@media all and (max-width: 767px) {
  .body-home {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
}
@media all and (min-width: 992px) {
}
