.btn-categorias:hover {
  background-color: #2a71d0; /* Color de fondo cuando el cursor está sobre el botón */
}

.btn-categorias:active {
  background-color: #1a4080; /* Color de fondo cuando el botón está presionado */
}

@media all and (min-width: 320px) {
  .btn-categorias {
    font-size: 3rem;
    display: flex;
    padding: 1rem;
    background-color: #3890f4;
    color: white;
    border-radius: 1.5rem;
    transition: background-color 0.2s ease-in-out;
  }
}
